//- login은 join과 매우 비슷할 것이다.
extends base 

block content 
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(placeholder="Username", name="username", type="text", required)
    input(placeholder="Password", name="password", type="password", required)
    input(type="submit", value="Login")
    br
    //- 1. user를 GitHub으로 보낸다.

    //- (참조) https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
    //- parameter들을 전달해 줘야 함
    //- 그 중 하나는 client_id. GitHub이 준 client_id를 보내줘보자
    //- ㅎㅎ 잘 가네!
    //- only public data만 볼 수 있다는데, 우린 이것만 원하지는 않음.
    //- parameter들을 더 보내보자

    //- scope: 내가 사용자에 대해 어디까지 알 수 있는지를 적으면 된다. 그러니까 사용자가 정보를 어디까지 공유해야하는지
    //- allow_signup: GitHub 사용자가 아니면 회원가입(계정생성)을 시킬지 아닐지의 여부!
    a(href="https://github.com/login/oauth/authorize?client_id=e8f91d70327c76f70688&allow_signup=false") Continue with GitHub &rarr;

    //- 2. user는 GitHub에 의해 내 사이트로 redirect 된다.
  hr
  div 
    span Don't have an account? 
    a(href="/join") Create one now &rarr;