//- base.pug를 extends하는 것이기 때문에, pageTitle변수를 지정해 줘야 하는 것.
extends base
include mixins/video

block content 
  form(method="GET")
    input(placeholder="Search by title", type="text", name="keyword")
    input(type="submit", value="Search now")

  each video in videos 
    +video(video)