//- base.pug를 extends하는 것이기 때문에, pageTitle변수를 지정해 줘야 하는 것.

extends base

block content 
  form(method="GET")
    input(placeholder="Search by title", type="text", name="keyword")
    //- input에 name을 지정해주지 않으면, submit을 해도 GET을 요청해도 아무것도 나타나지 않음!
    //- 이제 url안에 keyword=blabla로 잘 나온다. 이 정보를 search controller로 가져와야 함.
    //- req.query로 url에 찍히게 되는(?) keyword 정보를 받을 수 있다.
    //- (req.query는 URL data를 위한 명령)
    input(type="submit", value="Search now")